<%- include("dashboard")%>

<form action="/addexpensesSubmit" method="post">
    <div class="flex flex-col p-4 w-1/3 gap-5 justify-center m-auto h-[80vh]">
        <div class="flex items-center justify-between">
            <label for="name" class="block text-gray-700 text-sm font-bold"
                >Enter Name</label
            >
            <input
                type="text"
                id="name"
                name="name"
                required
                placeholder="Enter Name"
                class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
        </div>
        <div>
            <h1 class="text-gray-700 text-sm font-bold mb-4">
                Select Category
            </h1>
            <div class="flex justify-between">
                <button
                    type="button"
                    class="category-type border border-gray-300 p-4"
                    data-type="Insurance"
                >
                    Insurance
                </button>
                <button
                    type="button"
                    class="category-type border border-gray-300 p-4"
                    data-type="Education"
                >
                    Education
                </button>
                <button
                    type="button"
                    class="category-type border border-gray-300 p-4"
                    data-type="Travel"
                >
                    Travel
                </button>
                <button
                    type="button"
                    class="category-type border border-gray-300 p-2"
                    data-type="Commercial"
                >
                    Commercial
                </button>
                <button
                    type="button"
                    class="category-type border border-gray-300 p-4"
                    data-type="Other"
                >
                    Other
                </button>
            </div>
            <input
                type="hidden"
                name="categoryType"
                id="categoryType"
                required
            />
        </div>
        <div class="flex items-center justify-between">
            <label for="amount" class="block text-gray-700 text-sm font-bold"
                >Amount</label
            >
            <input
                type="number"
                id="amount"
                name="amount"
                required
                placeholder="Enter Amount"
                class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
        </div>
        <div class="flex items-center justify-between">
            <label for="dop" class="text-gray-700 text-sm font-bold mb-2"
                >Date of Purchase</label
            >
            <input
                type="date"
                id="dop"
                name="dop"
                required
                class="shadow appearance-none border rounded py-2 px-3 text-gray-700 focus:outline-none"
            />
        </div>
        <div class="mb-4">
            <label
                for="description"
                class="block text-gray-700 text-sm font-bold mb-4"
                >Description</label
            >
            <textarea
                id="description"
                name="description"
                rows="3"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            ></textarea>
        </div>
        <button type="submit" class="bg-black text-white rounded-md p-2">
            Submit
        </button>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const categoryTypeButtons = document.querySelectorAll(".category-type");
        const categoryTypeInput = document.getElementById("categoryType");

        function selectButton(buttons, selectedButton, hiddenInput) {
            buttons.forEach((button) =>
                button.classList.remove("bg-black", "text-white")
            );
            selectedButton.classList.add("bg-black", "text-white");
            hiddenInput.value = selectedButton.dataset.type;
        }

        categoryTypeButtons.forEach((button) => {
            button.addEventListener("click", function () {
                selectButton(categoryTypeButtons, this, categoryTypeInput);
            });
        });
    });
</script>
