<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            * {
                margin: 0;
                padding: 0;
                text-decoration: none;
            }
            input {
                outline: none;
            }
        </style>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100">
        <div
            class="flex justify-between mx-8 mt-4 p-4 border border-gray-300 rounded-xl bg-white text-xl"
        >
            <h1>FinanceFlow</h1>
            <div class="flex gap-4">
                <a href="/user">User</a>
                /
                <a href="/loan">Loan</a>
                /
                <a href="/emi">Emi</a>
                /
                <a href="/expenses">Expenses</a>
            </div>
        </div>
    </body>
</html>
