<%- include("header") %>
<div class="flex justify-center items-center m-auto h-[60vh]">
    <div class="bg-white w-1/4 p-8 rounded-md">
        <form
            action="/loginSubmit"
            method="POST"
            class="rounded-lg shadow-sm flex flex-col gap-4"
        >
            <input
                type="text"
                name="name"
                placeholder="Username"
                class="border border-gray-300 rounded-lg pl-4 py-1 bg-gray-100 text-gray-500"
            />
            <input
                type="email"
                name="email"
                placeholder="Email"
                class="border border-gray-300 rounded-lg pl-4 py-1 bg-gray-100 text-gray-500"
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                class="border border-gray-300 rounded-lg pl-4 py-1 bg-gray-100 text-gray-500"
            />
            <button type="submit" class="bg-black text-white rounded-md py-1">
                Login
            </button>
        </form>
    </div>
</div>
<%- include("footer") %>
